p #{stats}
form(action="/login", method="POST")
    label login
    input(name="login", value="admin", id="login")
    label password
    input(type="text", name="password", value="123", id="password")
    input(type="submit", value="login")

//script(src="js/login.js")